@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

html.dark {
  --foreground: #fff;
  --background: #101011;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

/* Autofill fix for light mode (default) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #e2e8f000 inset !important; /* light background */
  -webkit-text-fill-color: #000 !important; /* light text */
  transition: background-color 5000s ease-in-out 0s;
}

/* Autofill fix for dark mode */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1f293700 inset !important; /* dark:bg-gray-900 */
  -webkit-text-fill-color: #fff !important;
}
